.coupon-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .coupon-modal {
    width: 350px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    position: relative;
  }
  
  .coupon-modal p {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .coupon-modal-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .coupon-modal-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    width: 90%;
    cursor: pointer;
  }

  .coupon-modal-buttons button:first-child{
    margin-top: 30px;
    color: #D9BBA0;
    border: 1px solid #D9BBA0;
    border-radius: 5px;
  }
  .coupon-modal-buttons button:last-child{
    margin-top: -10px;
    color: white;
    background-color: #4F4A4A;
    border-radius: 5px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
