<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 품질검사 등록</title>
    <link rel="stylesheet" href="production.css">
    
</head>

<body>
    <header id="header"></header>
    <div class="custom-container">
        <aside id="sidebar"></aside>
        <div class="form-container">
            <h1> 품질검사 등록</h1>
            <form id="input-form">
                <div class="form-group">
                    <label for="production-date">검사 일자:</label>
                    <input type="date" id="production-date" name="production-date" required>
                </div>
                
                <div class="form-group">
                    <label for="production-calculation">검사방법:</label>
                    <input type="text" id="production-calculation" name="production-calculation" required>
                </div>

                <div class="form-group">
                    <label for="production-period">품목 코드:</label>
                    <input type="text" id="production-period" name="production-period" required>
                </div>

                <div class="form-group">
                    <label for="base-item">품목명:</label>
                    <input type="text" id="base-item" name="base-item" required>
                </div>

                
                <div class="form-group">
                    <label for="mrp-calculation">수량:</label>
                    <input type="text" id="mrp-calculation" name="mrp-calculation" required>
                </div>
                
                <div class="form-group">
                    <label for="status">시료:</label>
                    <input type="text" id="status" name="status" required>
                </div>

                <div class="form-group">
                    <label for="others">합격여부:</label>
                    <input type="text" id="others" name="others">
                </div>

                <button type="submit" class="submit-button">등록</button>
            </form>
        </div>
    </div>
    <script src="loadContent.js"></script>
</body>

</html>