<div class="sidebar-menu">
    <div class="dropdown">
        <button class="menu-item">메뉴 1</button>
        <ul class="dropdown-menu">
            <li><a href="#">서브메뉴 1-1</a></li>
            <li><a href="#">서브메뉴 1-2</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="menu-item">메뉴 2</button>
        <ul class="dropdown-menu">
            <li><a href="#">서브메뉴 2-1</a></li>
            <li><a href="#">서브메뉴 2-2</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="menu-item">메뉴 3</button>
        <ul class="dropdown-menu">
            <li><a href="#">서브메뉴 3-1</a></li>
            <li><a href="#">서브메뉴 3-2</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="menu-item">메뉴 4</button>
        <ul class="dropdown-menu">
            <li><a href="#">서브메뉴 4-1</a></li>
            <li><a href="#">서브메뉴 4-2</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="menu-item">메뉴 5</button>
        <ul class="dropdown-menu">
            <li><a href="#">서브메뉴 5-1</a></li>
            <li><a href="#">서브메뉴 5-2</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="menu-item">메뉴 6</button>
        <ul class="dropdown-menu">
            <li><a href="#">서브메뉴 6-1</a></li>
            <li><a href="#">서브메뉴 6-2</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="menu-item">메뉴 7</button>
        <ul class="dropdown-menu">
            <li><a href="#">서브메뉴 7-1</a></li>
            <li><a href="#">서브메뉴 7-2</a></li>
        </ul>
    </div>
</div>
