/* 캘린더 전체 컨테이너 스타일 */
.rbc-calendar {
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-right: auto;
}

/* 달력 헤더 스타일 */
.rbc-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}

.rbc-toolbar-label {
  text-align: left;
  align-items: left;
}

.rbc-toolbar button {
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.rbc-toolbar button:hover {
  background-color: lightslategray;
}

/* 날짜 셀 스타일 */
.rbc-header {
  background-color: lightgray;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid gray;
}

/* 각 날짜 셀 스타일 */
.rbc-day-bg {
  background-color: lightgray;
  border-right: 1px solid lightgray;
}

.rbc-date-cell {
  text-align: center;
  font-weight: 500;
  color: black;
}

/* 선택된 날짜 셀 스타일 */
.rbc-selected-cell {
  background-color: lightslategray !important;
}

/* 이벤트 스타일 */
.rbc-event {
  background-color: lightslategray !important;
  color: white;
  border-radius: 4px;
  padding: 3px 5px;
  font-size: 0.9rem;
}

.rbc-event:hover {
  background-color: lightslategray;
}

/* 오늘 날짜 스타일 */
.rbc-today {
  background-color: lightgray !important;
  border: 1px solid lightslategray;
}

/* 시간 표시 스타일 */
.rbc-timeslot-group {
  border-top: 1px solid gray;
}

.rbc-time-slot {
  color: gray;
  font-size: 0.85rem;
}

.custom-hover-button {
  background-color: lightgray;
  color: black;
  border: 1px solid lightslategray;
  transition: none;
}

.custom-hover-button:hover {
  background-color: lightslategray;
  border: 1px solid lightgray;
  color: white;
  transition: none;
}

.custom-hover-button:active,
.custom-hover-button:focus,
.custom-hover-button:focus:active {
  background-color: lightgray;
  color: black;
  border-color: lightgray;
  box-shadow: none !important;
  outline: none !important;
}

.rbc-show-more {
  display: none !important;
}

.form-control:focus {
  border-color: lightgray;
  box-shadow: 0 0 0 0.25rem rgba(200, 200, 200, 0.5);
}

.event-container {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-container button {
  color: black;
  font-weight: bold;
  background-color: lightgray;
  border: none;
  padding: 0px;
}

.event-container button:active,
.event-container button:focus,
.event-container button:focus:active {
  background-color: lightgray;
  outline: none;
  box-shadow: none;
}
