/* ProductionPage.css */
.custom-container {
    display: flex;
}

.production-content {
    flex-grow: 1;
    padding: 20px;
}

.production-mainbar {
    margin-top: 20px;
}

.productionbar h1 {
    display: inline-block;
    margin: 0;
}

.create-button {
    margin-left: 20px;
}

.production-table {
    width: 100%;
    border-collapse: collapse;
}

.production-table th, .production-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.no-data {
    color: red;
    font-weight: bold;
}
.chart-container {
    width: 2000px;  
    height: 800px;  
    margin: 0 auto;
    margin-left: 250px;  
}