.order-submit-container,.auto-order-container,.order-complete-container,.order-history-container{
    margin-left: 230px;
    padding: 50px;
}
.order-product-item-container,.auto-order-item-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.input-order-item ,.auto-order-item{
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    background-color: #f7f7f7;
    color: #333;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.input-order-item:hover ,.auto-order-item:hover{
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 10px 0px;
    background-color: #e0e0e0;
    color: #000;
}
.order-history-check input[type="checkbox"] {
    accent-color: #F0C490; 
}

.order-history-check input[type="checkbox"]:focus {
    outline: 2px solid #F0C490; 
    outline-offset: 2px;
}
.order-history-check .form-check-input:checked {
    background-color: #F0C490;
    border-color: #F0C490;
}

.order-history-check .form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 196, 144, 0.5);
}
.form-right{
   display: flex;
   justify-content: end;
}