*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}
.store-inven-container{
    margin-left: 250px;
    position: relative;
}
.material-container{
    margin-top: 0px;
}
.product-page,.materials-page,.coffee-page{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.pagebtn-container button{
    padding: 3px;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: white;
    border: 1px solid black;
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;} */

}
.toggle-expand-btn{
    padding: 1px 7px;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 2px;
    /* font-weight: bold; */
    font-size: 18px;
}
/* .toggle-expand-btn:hover{
    background-color: black;
    color: white;
} */
.inven-search:focus{
    border-color: #F0C490;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}