* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}


.password-container {
    background-color: #f2f4ec;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    width: 400px;
    text-align: center;
}


.password-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #444;
}


.password-container p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.5;
}


.input-box {
    margin-bottom: 20px;
    text-align: left;
}

.input-box input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #f8f8f8;
    transition: all 0.3s ease;
}

.input-box input:focus {
    border-color: #0a7740;
    background-color: #f2f4ec;
    outline: none;
    box-shadow: 0 0 5px rgba(245, 146, 89, 0.3);
}

.input-box button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #0a7740;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-box button:hover {
    background-color: #0a7740;
}

.form-text {
    font-size: 13px;
    color: #0a7740;
    margin-top: 5px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #0a7740;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}


.submit-btn2 {
    width: 100%;
    padding: 12px;
    justify-content: center;
    background-color: #0a7740;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;


}

.submit-btn:hover {
    background-color: #0b8d4c;
}

@media (max-width: 400px) {
    .password-container {
        width: 90%;
        padding: 30px;
    }
}

.logo {
    height: 200px;
    width: auto;
}