/* 날짜 input 스타일링 */
.date-input {
    border: none;
    outline: none;
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.date-input:focus {
    outline-color: lightgray;
    background-color: lightgray;
}

/* DatePicker 스타일링 */
.custom-date-input {
    border: none;
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: black;
}

.custom-date-input:focus {
    outline: none;
}

.react-datepicker__input-container input {
    padding: 5px;
    border-radius: 5px;
}

.react-datepicker__input-container input:focus {
    outline: none;
    border: none;
}
