/* ActionButtons.css */
.custom-button {
  background-color: lightgray;
  color: black;
  border-color: lightgray;
  width: 120px;
  text-align: center;
  font-weight: bold;
  align-self: flex-end;
  margin-right: 145px;
}

.custom-button-primary {
  align-items: end;
}

.custom-button:hover {
  background-color: lightslategray;
  border-color: lightslategray;
}
