.custom-select {
    width: 100px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .custom-select:focus {
    border-color: #F0C490 !important;
    color:#703103;
    font-weight: bold;
    box-shadow: 0 0 0 0.2rem rgba(240, 196, 144, 0.5); /* 테두리 강조 효과 */
  }