/* 기본 테이블 스타일 */
.table {
  width: 100%;
  table-layout: fixed;
}

.custom-padding {
  padding-top: 18px;
  color: black;
  font-weight: bold;
  margin-right: 20px;
  font-size: 25px;
}

.custom-search-button {
  background-color: lightgray;
  color: black;
  border-color: lightgray;
  border-radius: 10%;
  width: 120px;
}

.custom-search-button:hover {
  background-color: lightslategray;
  border-color: lightslategray;
}

.custom-form-control:focus {
  border-color: lightgray !important;
  box-shadow: 0 0 0 0.2rem rgba(200, 200, 200, 0.5);
}
