# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# node_modules 폴더를 Git에서 제외
node_modules/

# .cache 폴더를 Git에서 제외
.cache/

# 특정 파일을 Git에서 제외
FinalProject/src/main/erp/node_modules/.cache/.eslintcache

# .cache 폴더와 그 안의 모든 파일 제외
.cache/
FinalProject/src/main/erp/node_modules/.cache/

# .cache 폴더와 그 안의 모든 파일 제외
/.cache/
/FinalProject/src/main/erp/node_modules/.cache/

# node_modules 폴더와 그 안의 모든 파일 제외
node_modules/

# .cache 폴더와 그 안의 모든 파일 제외
.cache/

# .eslintcache 파일 제외
.eslintcache
# Ignore node_modules folder
node_modules/

# Ignore cache files
.cache/
*.pack
