.custom-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.chart-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    gap: 50px;
}

.chart-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 700px; /* 높이 증가 */
    background-color: #ffffff;
}

.pie-chart-container {
    position: relative;
}

.status-text {
    position: absolute;
   
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 50px;
}

.value-text {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

/* 온도 및 습도 표시 스타일 */
.metrics-container {
    margin-top: 50px;
    padding: 20px; /* 적당한 패딩 추가 */
    border: 3px solid #000; /* 두꺼운 검정 테두리 추가 */
    border-radius: 8px;
    text-align: center;
}

.temperature,
.humidity {
    font-size: 1.5em; /* 글씨 크기 증가 */
    font-weight: bold; /* 글씨 굵기 증가 */
    margin-top: 8px;
    color: #28a745; /* 기본 초록색 */
}

/* 온도, 습도에 따라 색상 변경 */
.temperature.warning,
.humidity.warning {
    color: #ffa500; /* 경고: 주황색 */
}

.temperature.danger,
.humidity.danger {
    color: #ff0000; /* 위험: 빨간색 */
}

.line-name {
    margin-top: 20px;
}







.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.chart-box {
    margin: 10px;
}