body{
    box-sizing: border-box;
}
button:active,button:focus{
    outline: none;
    box-shadow: none;
}
.body-center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.space-btw {
    display: flex;
    justify-content: space-between;
}

.detail-page {
    height: 870px;
}
.detail-header{
    background-color: #f0cfa4;
    height: 70px;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content:start; 
    align-items: center; 
    padding-left: 20px;
}
.earn-content{
    width: 100%;
    height: 470px;
    padding: 10px;
}
.earn-process{
    display: flex;
}
.phone-check,.join-member{
    width: 190px;
    height: 190px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 5px;
    padding-top: 24px;
    text-align: center;
    cursor: pointer;
}
.phone-check img,.join-member img{
    width: 55%;
    height: 60%;
}
.join-member{
    margin-left: 20px;
}
.summary{
    background-color: #E2E2E2;
    padding: 15px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;

}
.detail-button-container{
    width: 100%;
}
.all-cancle{
    width: 35%;
}
.pay-certain-container{
    width: 65%;
}
.pay-certain-container button{
    width: 40%;
    border: none;
    height: 100px;
    border-radius: 5px;
}
.button-cancel{
    background-color: #4F4A4A;
    color: white;
    width: 80%;
    border: none;
    height: 100px;
    border-radius: 5px;
}
.button-previous{
    background-color: white;
    color: #D9BBA0;
    border-color: #D9BBA0;
    border: 1px solid #D9BBA0 !important;
    margin-left: 100px;
    
}
.button-next{
    background-color: #D9BBA0;
    color: white;
}
.user-data-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    margin-top: 50px;
    /* border-radius: 5px; */
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }
  
  .user-data-table th, .user-data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .user-data-table th {
    background-color: #f0cfa4;
    font-weight: bold;
  }